.container{
    /* width  : 430px ; */
    width  : 323px ;
    /* height : 760px ; */
    height : 600px ;
     margin : auto ;
      /* margin-top : 50px  ;  */
       border-radius : 15px ;
       border : 2px solid white ; 
       box-shadow : rgba(0, 0, 0, 0.15) 0px 2px 8px ; 
       cursor: pointer;
} 
.main-box{
    /* width : 400px ;  */
      width  : 300px ; 
    margin : auto ; 
    margin-top : 10px ; 
}
.card-container{
    display :flex ; 
    flex-direction: row;
    margin-top : 10px ; 
}

.Temp-box{
   width : 100% ; 
   box-shadow : rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em ; 
  padding : 4px ; 
  border-radius : 20px;
     /* height : 360px ; */
     height : 390px
} 

.Upper-Temp-box{
    display : flex ; 
    width :90%; 
    margin : auto ; 
      padding : 10px ;  
      font-size : 30px; 
      color : gray ; 
      font-weight : bolder; 
      height :60px ; 
      border-radius : 10px ; 
      font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      justify-content:space-between  ; 
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
     /* border : 1px solid navy ;  */
    } 
.date-format{
    font-family :sans-serif;
    font-size :small ;  
    text-overflow: inherit;
}

.day-Temp-box{
    width : 90% ; 
    margin : auto ; 
    height : 130px ; 
    /* border : 1px solid red ;  */
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: -7px;
}

.sky-item{
    color : gray ; 
    font-size : 12px ; 
    padding : 10px ; 
    margin-top : 5px ; 
}

.current-Temp-box{
    display : flex ; 
    justify-content : space-around ;
    height : 36px ; 
    margin-top: 5px;
}  

.inside-current-box{
    width : 42% ; 
    height : 35px ; 
    font-size: 11px;
    font-family :Arial, Helvetica, sans-serif ; 
 background-color: rgb(234, 244, 234);
}

.current-Temp-box2{
    display : flex ; 
    justify-content :space-around ; 
    /* border : 1px solid red ;  */
    height : 35px ; 
    margin-top: 5px
    /* text-align: center; */
} ; 
.inside-current-box2{
   width : 30% ;  
   height : 14px ;  
}
   
.p-tag{
    text-align : center ; 
    font-weight : bolder ; 
    /* border : 1px solid red ;  */
    font-size: 11px;
    font-family :Arial, Helvetica, sans-serif ; 
}

.p-tag2{
   text-align : center ;
   font-weight : lighter;
   font-size: 11px;
   
   /* border : 1px solid red ;  */
}



 


